#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

export QT_SELECT=5

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
OS=$(shell awk '/^NAME=/' /etc/os-release | sed 's/NAME=//' | sed 's/\"//g' | tr '[:upper:]' '[:lower:]')
OS_VERSION=$(shell awk '/VERSION=/' /etc/os-release | sed 's/VERSION=//' | sed 's/\"//g' | sed 's/[.]0/./')
ARCH=$(shell dpkg-architecture -qDEB_TARGET_MULTIARCH)

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# 检测当前安装的Qt版本，优先使用Qt6，否则使用Qt5
QT_VERSION=6
define detect_qt_version
ifneq (,$(shell which qmake6 2>/dev/null))
    QT_DIR="/usr/lib/$(DEB_HOST_MULTIARCH)/cmake/Qt6"
else
    QT_DIR="/usr/lib/$(DEB_HOST_MULTIARCH)/cmake/Qt5"
    QT_VERSION=5
endif
endef

# 调用检测Qt版本的命令
$(eval $(call detect_qt_version))

# hardcode this if want to force build with sepecific Qt version
# QT_DIR="/usr/lib/$(DEB_HOST_MULTIARCH)/cmake/Qt5"

ENABLE_UAB_SUPPORT=FALSE
ENABLE_STATIC_BOX=FALSE

ifeq ($(OS), deepin)
ENABLE_UAB_SUPPORT=TRUE
ENABLE_STATIC_BOX=TRUE
endif

%:
	dh $@ --buildsystem=cmake

override_dh_auto_install:
	dh_auto_install
ifeq ($(ENABLE_UAB_SUPPORT), TRUE)
	install -d debian/linglong-builder/usr/lib/$(ARCH)/linglong/builder/uab
	dh_install -p linglong-builder usr/lib/$(ARCH)/linglong/builder/uab/ usr/lib/$(ARCH)/linglong/builder/
endif
ifeq ($(ENABLE_STATIC_BOX), TRUE)
	dh_install -p linglong-box usr/bin/ll-box-static usr/bin
endif

EXTRA_OPTION = -DCPM_LOCAL_PACKAGES_ONLY=ON -DLINGLONG_VERSION=$(DEB_VERSION_UPSTREAM) -DENABLE_LINGLONG_INSTALLER=ON -DQT_VERSION=$(QT_VERSION) -DQT_DIR=$(QT_DIR)
ifeq ($(ENABLE_UAB_SUPPORT), TRUE)
EXTRA_OPTION += -DENABLE_UAB=ON
endif
ifeq ($(ENABLE_STATIC_BOX), TRUE)
EXTRA_OPTION += -DSTATIC_BOX=ON
endif

override_dh_auto_configure:
	dh_auto_configure --  ${EXTRA_OPTION}  ${DH_AUTO_ARGS}

# https://sources.debian.org/src/amavisd-new/1:2.13.0-3/debian/rules/?hl=10#L10
execute_after_dh_installinit:
	dh_installsysusers # this is needed until dh compat 14
